				/*MEDIA*/
 /* Landscape - телефоны */
@media(max-width: 480px){

    .main-nav ul li a {
        font: 0.6em 'open_sansregular', sans-serif;
        color: #fff;
        display: inline-block;
        padding: 0;
    }
}

 
  /* От ландшафтного экрана телефона до потретного планшета */
  @media (max-width: 767px) {}

 
  /* От портретного планшета до ландшафтного экрана и настольных дисплеев */
  @media (min-width: 768px) and (max-width: 979px) {} 

 
  /* Большой дисплей */
  @media (min-width: 1200px) {}
