

@font-face {
	font-family: 'open_sansregular';
	src: url('../app/fonts/opensans-regular-: ;webfont.eot');
	src: url('../app/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../app/fonts/opensans-regular-webfont.woff2') format('woff2'),
		 url('../app/fonts/opensans-regular-webfont.woff') format('woff'),
		 url('../app/fonts/opensans-regular-webfont.ttf') format('truetype'),
		 url('../app/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../app/fonts/opensans-light-webfont.eot');
    src: url('../app/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../app/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../app/fonts/opensans-light-webfont.woff') format('woff'),
         url('../app/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../app/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
	
}
body{
	font-family: 'open_sansregular', sans-serif;
	font-size: 16px;
	height: 100%;
	width: 100%;
	overflow: auto;
}
ul{
	list-style: none;
}
p{
	font-family: "open_sansregular", sans-serif;
}

			/*HEADER*/

.header{
	background: #020c13 url(../app/img/slide-1.jpg) no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
	width: 100%;
	color: #fff;
	position: relative;
}
.header-top{
	background: rgba(16,22,54, 0.2);
	position: fixed;
	height: 70px;
	width: 100%;
	z-index: 1;
}
	/*logo*/
.slogan, .logo_img {
	display: inline-block;
}
.slogan h1{
	font: lighter 0.8em open_sanslight, sans-serif;
	color: #fff;
	position: relative;
	top: 2px;
}
.slogan span {
	font-size: 14px;
	color: #32b0ee;

}
	/*main-nav*/	
.main-nav ul{
	list-style: none;
	z-index: 2;
}
.main-nav ul li{
	display: inline-block;
	padding-right: 30px;
	
}
.main-nav ul li a{
	font: 0.9em/4.5em 'open_sansregular', sans-serif;
	color: #ffffff;
	display: block;
}
.main-nav ul li a:hover, .main-nav .active {
	border-top: 1px solid #32b0ee;
	text-decoration: none;
}
	/*social inks*/
.social-wrap{
	margin: 105px 0 40px 0;
	
}
.social-wrap ul li{
	display: inline-block;
	padding-right: 17px;
}
.social-wrap ul li a{
	color: rgba(255,255,255,.4);
}
.social-wrap ul li a:hover{
	color: rgba(255,255,255,.9);
}
h3.h-category{	/*global style*/
	font: 600 1.75em "open_sansregular", sans-serif;
	color: #0eb493;
	text-transform: uppercase;
	text-align: center;
	padding-top: 70px;
}
			/*features*/
.features{
	background: #f4f7f9;
}
.features h3{
	padding-top: 50px;
}
.features h4{
	font-size: 1.25em;
	font-weight: 600;
}
.features .features-h{
	margin-bottom: 60px;
}
.icon-fue{
	width: 40px;
	height: 40px;
	background: url("../app/img/features_sprite.png") repeat-x;
	float: left;
	position: relative;
    top: 6px;
}
.one{
	background-position: 124px;
}
.two{
	background-position: 81px;
}
.three{
	background-position: 40px;
}
.feature_inner {
	margin: 0 0 135px 58px;

}
/* Section Works*/
p.s-description{
	padding: 28px 0;
} 

				/*MEDIA*/
 /* Landscape - smarfone */
  @media (max-width: 480px) {
		.header .header-top {
		  position: static;
		}
		.logo{
			text-align: center;
		}
		.main-nav{
			margin-top: 1.4em;
		}
		.main-nav ul li {
		display: block;
		text-align: center;
	   }
		.main-nav .active,.main-nav ul li a:hover {
		border-top: none;
		text-decoration: none;
		}
	   .main-nav ul li a {
		  line-height: 3.4em;
		  color: #fff;
		  padding: 0;

		  }
		.main-nav ul li a:active, .main-nav ul li a:hover  {
			background: rgba(16,22,54, 0.2);
		}
	  .carousel-wrapper {
		  min-width: 100%;
		  margin-top: 63%;
	  }
		.carousel-inner h2 {
		  font-size: 1.2em;
		}
	  .carousel-inner p {
		  font-family: "open_sanslight", sans-serif;
		  font-size: 1.2em;
	  }
 }/*end < 480px


     /* От ландшафтного экрана телефона до потретного планшета */
  @media (max-width: 767px) {}

/* От портретного планшета до ландшафтного экрана и настольных дисплеев */
  @media (min-width: 768px) and (max-width: 979px) {}


/* Большой дисплей */
  @media (min-width: 1200px) {}
				