<!-- landscape page questionnaire -->
  <div class="landscape">
    <section>
    <div class="container render-area">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">
            Risk Landscape
          </h2>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-12" ng-controller="landscapeCtrl">
          <div class="questions bottom-preview">
            <ul class="nodes-quest">
              <li >
                <div class="quest-items">
                 <div class="row">
                  <div class="col-md-12">
                    <div class="questions-wrapper">
                      IF a {{questions.nodes[_Index].label}}
                      <span class="glyphicon glyphicon-question-sign question-info" ng-click="showDesc = !showDesc"></span>
                      were to materialise what is your estimate of the <strong>impact?</strong>
                      <p ng-show="showDesc">{{questions.nodes[_Index].description}}</p>
                    </div>
                  </div>
                  <!-- rate forms-->
                  <div class="col-md-12">
                    <div class="rate-answer">
                      <form action="#">
                        <fieldset ng-repeat="n in countRate">
                          <input type="radio" name="{{questions.nodes[_Index].id}}" id="1-{{questions.nodes[_Index].id}}{{$index}}" value="{{n}}"/>
                          <label class="number-label"  for="1-{{questions.nodes[_Index].id}}{{$index}}">
                            <span class="number-of-rate">{{n}}</span>
                          </label>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
                </div>
                <div class="quest-items">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="questions-wrapper">
                        What is your estimate of the <b>likelihood</b> of a {{questions.nodes[_Index].label}}
                        <span class="glyphicon glyphicon-question-sign question-info" ng-click="showDescTwo = !showDescTwo"></span>
                        materialising in the next 18 months ?
                        <p ng-show="showDescTwo">{{questions.nodes[_Index].description}}</p>
                      </div>
                    </div>
                    <!-- rate forms-->
                    <div class="col-md-12">
                      <div class="rate-answer">
                        <form action="#">
                          <fieldset ng-repeat="n in countRate">
                            <input type="radio" name="question-{{quest.id}}" id="2-{{quest.id}}-{{$index}}" value="{{n}}"/>
                            <label class="number-label" for="2-{{quest.id}}-{{$index}}">
                              <span class="number-of-rate">{{n}}</span>
                            </label>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div><!-- End questions-->

          <div class="next-page text-left">
            <div class="next-button">
              <a href="" class="btn btn-default" title="prev" ng-click="showPrev();"><span class="glyphicon glyphicon-menu-left"></span></a>
              <a href="" class="btn btn-default prev" title="next" ng-click="showNext();"><span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
          </div>
        </div>
      </div>



    </div>
    </section>


  </div><!--End content-->