<!-- landscape page questionnaire -->
  <div class="landscape">
    <section>
    <div class="container render-area">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">
            Risk Landscape
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-10" ng-controller="landscapeCtrl">
          <div class="questions bottom-preview ">
            <ol>
             <li>
              <p class="page-description">
                1. What is the estimated impact globally if this risk were to materialize? <br/>
                <span>1=low, 7=high (or don’t know)</span>
              </p>

              <ul class="nodes-quest">
                <li ng-repeat="quest in questions.nodes | limitTo: 10 "  >
                  <div class="row">
                    <div class="col-md-6">
                      {{quest.label}}
                      <span class="glyphicon glyphicon-question-sign question-info" title="{{quest.description}}" ng-click="desc = !desc"></span>
                    </div>
                    <div class="col-md-6 text-right">
                      <div class="rate-answer">
                        <form action="#">
                          <fieldset ng-repeat="n in countRate">
                            <input type="radio" name="question-{{quest.id}}" id="{{quest.id}}-{{$index}}" value="{{n}}"/>
                            <label class="number-label"  for="{{quest.id}}-{{$index}}">
                              <span class="number-of-rate">{{n}}</span>
                            </label>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p ng-show="desc">{{quest.description}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            </ol>
          </div><!-- End questions-->
          <div class="next-page text-left">
            <div class="next-button">
              <a href="#/" class="btn btn-default" title="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
              <a href="#/" class="btn btn-default prev" title="next"><span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div><!--End content-->