<!-- landscape page questionnaire -->
  <div class="landscape">
    <section>
    <div class="container render-area">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">
            Risk Landscape
          </h2>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-12" ng-controller="landscapeCtrl">
          <div class="questions bottom-preview">
            <ul class="nodes-quest">
              <li ng-repeat="quest in questions.nodes" ng-show="$index === _Index">
                <span class="text-center">Page: {{$index + 1}}</span>
                <div class="quest-items">
                 <div class="row">
                  <div class="col-md-12">
                    <div class="questions-wrapper">
                      IF a {{quest.label}}
                      <span class="glyphicon glyphicon-question-sign question-info" ng-click="showDesc = !showDesc"></span>
                      were to materialise what is your estimate of the <strong>impact?</strong>
                      <p ng-show="showDesc">{{quest.description}}</p>
                    </div>
                  </div>
                  <!-- rate forms-->
                  <div class="col-md-12">
                    <div class="rate-answer">
                      <form action="#">
                        <fieldset ng-repeat="n in countRate ">
                          <input type="radio" name="{{quest.id}}" id="1-{{quest.id}}{{$index}}" value="{{n}}"/>
                          <label class="number-label"  for="1-{{quest.id}}{{$index}}">
                            <span class="number-of-rate">{{n}}</span>
                          </label>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
                </div>
                <hr/>
                <div class="quest-items">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="questions-wrapper">
                        What is your estimate of the <b>likelihood</b> of a {{questions.nodes[_Index].label}}
                        <span class="glyphicon glyphicon-question-sign question-info" ng-click="showDescTwo = !showDescTwo"></span>
                        materialising in the next 18 months ?
                        <p ng-show="showDescTwo">{{questions.nodes[_Index].description}}</p>
                      </div>
                    </div>
                    <!-- rate forms-->
                    <div class="col-md-12">
                      <div class="rate-answer">
                        <form action="#">
                          <fieldset ng-repeat="n in countRate">
                            <input type="radio" name="question-{{quest.id}}" id="2-{{quest.id}}{{$index}}" value="{{n}}"/>
                            <label class="number-label" for="2-{{quest.id}}{{$index}}">
                              <span class="number-of-rate">{{n}}</span>
                            </label>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row next-page">
                  <div class="next-button">
                    <div class="col-md-6">
                      <a href="" class="btn btn-default" title="prev" ng-click="showPrev();">
                        <span class="glyphicon glyphicon-menu-left"></span>
                      </a>
                      <span>Prev question</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <span>Next question</span>
                      <a href="" class="btn btn-default" title="next" ng-click="showNext();">
                        <span class="glyphicon glyphicon-menu-right"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div><!-- End questions-->

      </div>
    </div><!-- End container-->

    </section>


  </div><!--End content-->