/*Carousel*/
.carousel-wrapper{
  min-width: 100%;
  margin-top: 38%;
}
.vertical .carousel-inner {
  height: 100%;
}
.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
  top: 0;
}
.carousel.vertical .next {
  top: 400px;
}
.carousel.vertical .prev {
  top: -400px;
}
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}
.carousel.vertical .active.left {
  top: -400px;
}
.carousel.vertical .active.right {
  top: 400px;
}
.carousel.vertical .item {
  left: 0;
}
.carousel .slide-indicators{
  right: 50px;
  top:48%;
  float: none;
  position: absolute;
}
.carousel-indicators li{
  width: 8px;
  height: 8px;
  border: 1px solid #313A3F;

}
.carousel-indicators li.active{
  width: 10px;
  height: 10px;
}
.carousel-inner{
  font-family: "open_sanslight", sans-serif;
}
.carousel-inner h2{
  font-size: 3.877em;
  padding: 0;
  margin: 0;
}
.carousel-inner h2 span {
  font-family: "open_sansregular", sans-serif;
  font-weight: 600;
}
.carousel-inner p{
  font-family: "open_sanslight", sans-serif;
  font-size: 3em;
}
.carousel-inner p span{

  color: #0feb9e;
}
.carousel-inner .skills{
  font-size: 1.125em;
}
.carousel-inner .skills span{
  padding: 0 35px;
  font-weight: 600;
}

