/*MEDIA*/

/* Landscape - smartphone */
@media (max-width: 480px) {

}//end < 480px


@media (max-width: 767px) {
  .logo{
    text-align: center;
  }
  .main-nav {
    overflow-y: hidden;
    width: 100%;
    background: rgba(0, 0, 0,.4);
    position: relative;
    top: 20px;
    ul {
      li {
        display: block!important;
        text-align: center;
        margin-bottom: 8px;

        a {
          line-height: 2.8em;
          color: #fff;
          padding: 0;
          font-size: 1em;
          &:hover, &.active {
            font-weight: bold;
            border-top: none;
            text-decoration: none;
            color: $description-info;
            width: 100%;
            background: rgba(255,255,255,0.5);
          }
        }
        .active-full-screen{
          border: none;
        }
      }
    }
  }
  .carousel-wrapper {
    min-width: 100%;
    margin-top: 34%;
  }
  .carousel-inner h2 {
    font-size: 1.2em;
  }
  .carousel-inner p {
    font-family: "open_sanslight", sans-serif;
    font-size: 1.2em;
  }

  //hidden overlay in team
  .full-item-team {
    .social-wrap{
      margin-top: 48px;
    }
    .item-gall-hidden {
      font-size: 0.8em;
    }
  }
}
//
@media (min-width: 768px) and (max-width: 979px) {

}


//
@media (min-width: 1200px) {}