//variables
$features-sec-color: #f4f7f9;
$accent-green: #0eb493;
$description-info: rgba(6,32,51,.8);
$address-icon: rgba(6,32,51,.2);

//mixins
//mixin transitions
@mixin maintransi ($time...){
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -ms-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}






