//variables
$features-sec-color: #f4f7f9;
$accent-green: #0eb493;
$description-info: rgba(6,32,51,.8);
$address-icon: rgba(6,32,51,.2);
$footer-bg: rgba(30,167,141,.8);
$icon-soc-color: rgba(255,255,255,.4);
$icon-soc-color-hover: rgba(255,255,255,.9);

//Media variables
$small-landscape: 480px;
$tablet-start: 481px;
$tablet-end:  1100px;
$underPc: 979px;

//mixins
//mixin transitions
@mixin mainTransi ($time...){
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -ms-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}








