//include modules libs
@import '_carosel';
@import '_fonts';
@import '_variables';


//Main styles
html{
  width: 100%;
}

body{
  font-family: 'open_sansregular', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
}
ul{
  list-style: none;
}
p{
  font-family: "open_sansregular", sans-serif;
}
img{
  -webkit-user-drag: none;
}
textarea {
  resize: none;
}

section {
    position: relative;

}


//full-width container
.container-fluid.full-width{
  padding: 0;
}
//Global margin on section
.pad-normal{
  &-lg{
    padding-bottom: 60px;
  }
}
.pad-big{
  &-lg{
    padding-bottom: 215px;
  }
  &-sm{
    @media all and(max-width: 767px){
      padding-bottom: 90px;
    }

  }
}

//
//HEADER

.header{
  background-size: cover;
  background: #020c13 url(../img/slide-1.jpg) repeat-x fixed top center;
  min-height: 100%;
  width: 100%;
  color: #fff;
  position: relative;
  .header-top{
    background: rgba(16,22,54, 0.2);
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 1;
    //logo
    .logo_img{
      display: inline-block;
    }
    .slogan{
      display: inline-block;
      h1{
        font: lighter 0.8em open_sanslight, sans-serif;
        color: #fff;
        position: relative;
        top: 2px;
      }
      span {
        font-size: 14px;
        color: #32b0ee;
      }
    }
  }
  .soc-block-wrap{
    position: absolute;
    bottom: -24px;
    width: 100%;
  }
  .navbar-toggle{
    background: #000;
    margin-right: 0;
    border-radius: 6px;
    margin-top: -34px;
    .icon-bar{
      background: $features-sec-color;
    }
  }
}
//main-nav
%main-nav-style-event{
  border-top: 2px solid #32b0ee;
  text-decoration: none;
}
.main-nav{
  @media all and (min-width: 767px) and (max-width: 1200px){
    position: absolute;
    top: 0;
    right: 2%;
  }
  ul {
    z-index: 2;
    li{
      display: inline-block;
      padding-right: 30px;
      a{
        font: 0.9em/4.5em 'open_sansregular', sans-serif;
        color: #fff;
        display: block;
        border-top: 2px solid transparent;
        &:hover, &:active{
          @extend  %main-nav-style-event;
        }
        &:focus{
          text-decoration: none;
        }
      }
      .active{
        @extend  %main-nav-style-event;
      }
      .active-full-screen{
        @extend  %main-nav-style-event;

      }
    }
  }
}

/*social inks*/
.social-wrap{
  margin: 105px 0 40px 0;
  ul {
    padding-left: 0;
    li{
      display: inline-block;
      padding-right: 17px;
      a{
        color: $icon-soc-color;
        &:hover{
          color: $icon-soc-color-hover;
        }
      }
    }
  }
}
.down-prev{
    border: 2px solid $accent-green;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 14px 0 4px -8px;
    display: inline-block;
    opacity: 0.8;
      &:hover{
        border-color: #fff;
      }
      &:hover span{
        color: #fff;
      }
    span{
      font-size: 28px;
      color: $accent-green; 
       -webkit-animation: arrowDomn 3s infinite; 
       -moz-animation:   arrowDomn 3s infinite; 
      -o-animation:     arrowDomn 3s infinite; 
      animation:        arrowDomn 3s infinite; 
    }
  }
  @keyframes arrowDomn{
    0%{
      position: relative;
      top: 0;
    }
    50%{
      position: relative;
      top: 6px;
    }
    100%{
      position: relative;
      top: 0;
    }
  }
h3.h-category{	//global style
  font: 600 1.75em "open_sansregular", sans-serif;
  color: $accent-green;
  text-transform: uppercase;
  text-align: center;
  padding-top: 70px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.features{
  background: $features-sec-color;
  h3{
    padding-top: 50px;
  }
  h4{
    font-size: 1.25em;
    font-weight: 600;
  }
  .item-features{
    opacity: 0;
  }
  // del
  .item-features-anim{
    animation-name: fadeIn;
    animation-duration: 3s;
    &:nth-child(1){
      animation-duration: 0.5s;
      opacity: 1;
    }
    &:nth-child(2){
      animation-duration: 2s;
      opacity: 1;
    }
    &:nth-child(3){
      animation-duration: 2.5s;
      opacity: 1;
    }
  }
  //
}

.icon-fue{
  width: 40px;
  height: 40px;
  background: url("../img/features_sprite.png") repeat-x;
  float: left;
  position: relative;
  top: 6px;
  &.one{
    background-position: 124px;
  }
  &.two{
    background-position: 81px;
  }
  &.three{
    background-position: 40px;
  }
}
.feature_inner {
  margin-left: 58px;
}

/* Section Works*/
p.s-description{
  padding: 28px 0;
  font-weight: 600;
  color: $description-info;
}
.carousel-indicators{
  li{
    border-color: rgba(255,255,255,.2);
  }
}
//gallery
//-nav
.gallery-image{
  margin: 0 auto;
  @media only screen and(min-width: 1140px) {
  	  min-height: 586px;
  	}
}
//-nav mobile
.gallery-nav-mobile{
  margin-bottom: 12px;
  select{
    padding: 8px;
  }
}
.gallery-nav {
  margin-top: 14px;
  ul {
    margin-bottom: 42px;
    li {
      display: inline-block;
      margin-right: 50px;
      a {
        font-weight: bold;
        color: #062033;
        font-size: 0.875em;
        cursor: pointer;
        &:hover, &:active, &:focus {
          text-decoration: none;
        }
        &:hover {
          color: $accent-green;
        }
      }
    }
    li.current-cat {
      margin-right: 30px;
      .label-success {
        color: #fff;
        background: $accent-green;
        padding: 6px 20px;
        border-radius: 6px;
        &:hover {
          color: #fff;
          background: darken($accent-green, 5%);
        }
      }
    }
  }
} //END Gallery Nav

//Global class for similar blocks like gallery
.item-gallery-global{
  float: left;
  position: relative;
  //hidden content
  .item-gall-hidden{
    display: none;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
  }
}
.gallery-image{
  .item-gallery-global{
    &:hover .item-gall-hidden{
      display: block;
    }
  }
  $small-landscape: 480px;
  $tablet-start: 481px;
  $tablet-end:  1100px;
  .item-img{
    width: 25%;
    max-height:300px;
    overflow: hidden;

    @media all and (max-width:  $small-landscape){
      width: 100%;
    }
    @media all and (min-width:  $tablet-start)and(max-width: $tablet-end){
      width: 50%;
    }
    img{
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    &:hover .hidden-gal-content{
      display: block;
    }
    .item-gall-hidden{
      background: rgba(35,184,153,.9);
      a.hidden-gal-inner{
        display: block;
        text-decoration: none;
        color: inherit;
        position: relative;
        top: 50%;
        margin-top: -56px;
        i{
          border: 1px solid #fff;
          padding: 12px;
          border-radius: 50%;
          font-size: 18px;
        }
        p{
          font-weight: bold;
          margin: 22px 0 2px 0;
          font-size: 1.125em;
        }
        .gal-category{
          font-size: 0.875em;
        }
      }
    }
  }
}//END Gallery images section


.animate-w-delay {
  animation-name: fadeIn;
  &:nth-of-type(1) {
    animation-delay: 1s;
    animation-duration: 3s;
  }
  &:nth-of-type(2) {
    animation-delay: 1.9s;
    animation-duration: 3s;
  }
  &:nth-of-type(3) {
    animation-delay: 2.8s;
    animation-duration: 3s;
  }
  &:nth-of-type(4) {
    animation-delay: 3.4s;
    animation-duration: 3s;
  }
}

//Section TEAM
.team-sec {
  .item-gallery-global {
    float: none;
    overflow: hidden;
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      width: 100%;
      cursor: pointer;
      &:hover{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
    //hidden block
    .item-gall-hidden {
      padding: 10px 28px 22px 28px;
      display: block;
      background: rgba(24, 182, 151, .9);
      @include mainTransi(0.9s);
      //elements
      font-size: 1em;
      h6{
        font: bold 1em/1.5em "open_sansregular", sans-serif;
      }
      p{
        display: none;
      }
    }
  }
}
.full-item-team{
  .social-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    ul{
      padding: 0;
      li{
        padding: 10px;
        background: rgba(0,0,0,0.2);
        min-height: 42px;
        min-width: 42px;
        display: inline-block;
        margin-right: 5px;
        a{
          display: block;
          width: 100%;
        }
        i{
          font-size: 22px;
        }
      }
    }
  }
  .active-green{
    color: $accent-green;
  }
  .profession-list{
    margin-bottom: 16px;
    h6{
      font: bold 1.5em  'open_sansregular', sans-serif;
      margin: 12px 14px;
      line-height: 1;
    }
    span{
      font-size: 0.8em;
      color: rgba(115,130,141,.5);
      display: block;
    }
  }
}
//Sections fun-facts
.fun-facts{
  background-size: cover;
  background: url("../img/fan-section-bg.jpg") repeat-x fixed top center;
  width: 100%;
  min-height: 600px;
  position: relative;
  .icon-tablate{
    width: 125px;
    height: 125px;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin: 14px  0 20px 0;
    .icon-facts{
      background: url("../img/facts-sprite.png") no-repeat 0 0;
      display: inline-block;
      width: 38px;
      height: 38px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -19px 0 0 -19px;
      &-clock{
        background-position: 0 0;
      }
      &-friends{
        background-position: -45px 0;
      }
      &-rockets{
        background-position: -84px 0;
      }
      &-cup{
        background-position: -124px 0;
        width: 40px;
      }
    }
  }
  .facts-info{
    color: #fff;
    margin-top: -6px;
    margin-bottom: 16px;
    strong{
      font-size: 3.75em;
      font-weight: bold;
      display: block;
    }
    span{
      font-size: 1.125em;
      text-transform: uppercase;
      display: block;
      opacity: 0.7;
    }
  }
}//End section fun-facts

//section Discuss
.contact-form{
  .header-address{
    font: 1.375em 'open_sansregular', sans-serif;
    color: $description-info;
    margin-top: 30px;
  }
  address{
    font: 0.8em/2em 'open_sansregular', sans-serif;
    color: #6a737b;
    margin-top: 10px;
  }
  .form-send{
    .header-address{
      font-weight: bold;
      font-size: 1.5em;
      color: rgba(6,32,51,1);
      margin-bottom: 45px;
      @media all and (max-width: $underPc){
        text-align: center;
      }
    }
    .form-elem{
      display: block;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgba(91,100,110,.5);
      width: 100%;
      outline: none;
      font-size: 0.75em;
      //Media-inject
      @media all and (max-width: $underPc){
        margin-bottom: 14px;
      }
    }
    label{
      display: block;
      color: rgba(91,100,110,.5);
      font-size: 0.81em;
      font-weight: normal;
    }
    textarea{
      display: block;
    }
    .message-block{
      margin-top: 45px;
    }
    .complex-submit{
      margin-top: 34px;
      .icon-send{
        color: $accent-green;
        font-size: 22px;
        vertical-align: middle;
      }
      .submit-button{
        border: none;
        background: none;
        color: #000;
        vertical-align: middle;
        outline: none;
      }
    }
  }
  ul.address-social{
    padding-left: 40px;
    margin-top: 43px;
    //Media-inject
    @media all and (max-width: $underPc){
      display: block;
      text-align: center;
    }
    li{
      //Media-inject
      @media all and (max-width: $underPc){
        display: inline-block;
        padding-right: 2em;
        &:last-child{
          padding-right: 0;
        }
      }
      a{
        font-size: 29px;
        color: $address-icon;
        text-decoration: none;
        &:hover{
          color: $description-info;
        }
        &:hover img{
          opacity: 0.8;
        }
        img{
          width: 32px;
          height: 32px;
          opacity: 0.2;
        }
      }
    }
  }
}//End contact-form
%footer-logo-bottom-pad{
  margin-bottom: 34px;
}

.map-section{
	position: relative;
	opacity: 0.6;
	#map{
	  width: 100%;
	  height: 212px;
	}
}

.footer{
  border-top: 5px solid $description-info;
  background: $accent-green;
  @media all and (max-width: $underPc){
    text-align: center;
  }
  .logo{
    @extend %footer-logo-bottom-pad;
  }
  .footer-inner{
   padding: 90px 0;
    position: relative;
  }
  p{
    font-size: 0.8125em;
    line-height: 1.8em;
    color: #fff;
  }
  h6{
    font: 0.875em 'OpenSansBold', sans-serif;
    color: rgba(255,255,255,0.8);
    @extend %footer-logo-bottom-pad;
  }
  //links list
  .links-list-footer{
    ul{
      padding: 0;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      li{

        padding-right: 8px;   
        a{
          font: 0.8125em/2.2em 'open_sansregular', sans-serif;
          color: #fff;
          &:hover, &:active, &:focus{
            text-decoration: none;
          }
        }
      }
    }
  }

  .copyright{
    height: 100%;
    margin-top: 70px;
    p{
      border-left: 1px solid $address-icon;
      padding-left: 12px;
      line-height: 1.95em;
      @media all and (max-width: $underPc){
        border: none;
      }
      .fa-heart-o{
        color: $address-icon;
        padding: 0 10px;
      }
      span{
        color: $description-info;
      }
      a{
        color: #fff;
      }
    }
  }
  small{
    font-size: 0.8125em;
    color: rgba(6, 32, 51, 0.8);
    position: absolute;
    bottom: -39px;
    left: 27px;
    @media all and (max-width: $underPc){
      position: static;
      text-align: center;
    }
  }
}
//Subscribe cut form
%input-drop{
  background: transparent;
  color: rgba(255,255,255,0.8);
  outline: none;
  &:focus{
   border: 2px solid $icon-soc-color;
  }

}
.subscribe-cut-form{
  position: relative;
  input[type=text]{
    display: inline-block;
    background: transparent;
    color: rgba(255,255,255,0.8);
    outline: none;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 9px 5px;
    width: 100%;
    @extend %input-drop;
  }
  input[type=submit]{
    border: none;
    @extend %input-drop;
  }
  #sub-submit{
    background: url("../img/facts-sprite.png")-172px 0;
    width: 18px;
    height: 26px;
    position: absolute;
    top: 2px;
    right: 18px;
    display: inline-block;
    cursor: pointer;
    &:focus{
     border: none;
    }
  }
}

#gal-portfolio .mix{
  display: none;
}

//import media
@import '_media';


