.nav-uploader, .nav-uploader:active, .nav-uploader:focus {
  border: 1px solid #80a64a;
  -webkit-box-shadow: 1px 1px 0 #b6e96c inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 0 #b6e96c inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0 #b6e96c inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #a5da59;
  background: -moz-linear-gradient(top, #a5da59 0%, #95c54f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5da59), color-stop(100%, #95c54f));
  background: -webkit-linear-gradient(top, #a5da59 0%, #95c54f 100%);
  background: -o-linear-gradient(top, #a5da59 0%, #95c54f 100%);
  background: -ms-linear-gradient(top, #a5da59 0%, #95c54f 100%);
  background: linear-gradient(to bottom, #57B96D 0%, #87D498 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5da59', endColorstr='#95c54f',GradientType=0 );
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); }

header h1 a, footer, footer h4 {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }

.text-bold {
  font-weight: bold; }

.dot-if {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #369F4D;
  border-radius: 50%;
  margin: 0; }
  .dot-if:first-child {
    margin-left: 2px; }
  .dot-if:last-child {
    margin-right: 2px; }

.compare-container {
  display: none; }

.landscape-map .visible-on-ls-map {
  display: block; }

.interconnections .visible-on-inter-map {
  display: block; }

.trends-risks .visible-on-trends-map {
  display: block; }

body {
  font-size: 16px;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  color: #636b66; }

a:hover, a:focus {
  text-decoration: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-content: center; }

ul {
  list-style: none; }

header {
  flex: 0 0 auto; }
  header .navbar {
    margin-bottom: 0; }
  header h1 {
    margin: 0;
    font-size: 0.9em;
    padding: 1em;
    display: inline-block;
    float: left; }
    @media all and (max-width: 991px) {
      header h1 {
        text-align: center;
        display: block;
        width: 100%; } }
    header h1 a {
      color: #EDEA00;
      font-size: 1.3em;
      text-transform: uppercase; }
      header h1 a:hover, header h1 a:focus {
        text-decoration: none;
        color: #fff; }
  header .main-nav {
    background: #57B96D;
    border-color: #1D8935;
    border-left: none;
    border-right: none;
    border-radius: 0; }
    header .main-nav .nav a {
      line-height: 1.5em;
      color: #fff; }
      header .main-nav .nav a:hover, header .main-nav .nav a:focus {
        color: #EDEA00; }

.logo-wrapper {
  padding: 1em 0; }
  .logo-wrapper img {
    height: 14px;
    display: inline-block;
    margin-right: 10px; }
  .logo-wrapper a {
    font-size: 14px; }
    .logo-wrapper a:hover {
      color: #fff;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); }

.content {
  flex: 0 0 auto; }

.render-area h2 {
  color: #1D8935;
  font-weight: 700;
  font-size: 1.8em;
  margin: 14px 0 2px 0; }

.render-area .page-description {
  font-size: 1.1em; }

#container-gexf {
  height: 0;
  margin: auto;
  background: #f8f8f8; }

.upload-wrapper {
  text-align: center;
  margin-top: 10px; }

.nav-uploader {
  display: inline-block;
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 45px;
  border-radius: 6px; }
  .nav-uploader:hover {
    color: #EDEA00; }
  .nav-uploader:active, .nav-uploader:focus {
    color: #EDEA00;
    outline: none !important; }
  .nav-uploader:active:hover {
    color: #EDEA00; }

#upload-input {
  display: none; }

.data-nav {
  margin-top: 18px; }

.load-file-name {
  font: 16px/2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  color: #636b66; }
  .load-file-name:nth-of-type(1) {
    font-weight: bold; }
  .load-file-name:nth-of-type(2) {
    font-style: italic; }

.name-show {
  opacity: 1; }

.name-hidden {
  opacity: 0; }

.right-area h2 {
  color: #636b66; }

.right-area .button-nav {
  margin-top: 12px; }

#snap-area {
  background: #f6f6f6;
  max-height: 400px;
  overflow-y: auto; }
  #snap-area span {
    display: inline-block; }
  #snap-area canvas {
    width: 48%;
    margin: 4px 8px 0 8px;
    outline: 1px dashed #333; }

.landscape-map .visible-on-ls-map {
  display: block; }

.graph-wrapper {
  /*********Landscape map***************************/
  /************************************************/ }
  .graph-wrapper svg {
    height: 0; }
  .graph-wrapper .g-nodes:hover > .text, .graph-wrapper .nodes:hover + .text {
    display: inline; }
  .graph-wrapper line {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .graph-wrapper .text {
    display: none;
    font: 100 0.9em Monaco, consolas , sans-serif;
    stroke: none;
    fill: #000;
    text-anchor: start; }
    .graph-wrapper .text-visible {
      display: inline;
      font-size: 1em;
      font-weight: 300;
      text-transform: none !important;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .graph-wrapper .text-hidden {
      display: none; }
    .graph-wrapper .text-risks {
      font-size: 0.75em; }
  .graph-wrapper .nodes:hover {
    cursor: pointer; }
  .graph-wrapper .axis path,
  .graph-wrapper .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  .graph-wrapper text.label {
    font: normal 12px Monaco, consolas , sans-serif; }

hr {
  margin: 10px 10px 10px 0; }

.sidebar-data {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .sidebar-data .sidebar-main-header {
    font-size: 1.2em;
    margin-left: 10px;
    text-transform: uppercase; }
  .sidebar-data .sidebar-data-wrapper {
    margin: 12px 0; }
  .sidebar-data .data-area {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .sidebar-data .data-area hr {
      margin: 5px 5px 5px 0; }
  .sidebar-data ul.map-list li {
    border: 1px solid #1D8935;
    border-radius: 8px;
    margin-bottom: 6px;
    background: #fff; }
    .sidebar-data ul.map-list li:hover {
      border-color: #9fd7ac; }
    .sidebar-data ul.map-list li:first-child {
      margin-top: 6px; }
    .sidebar-data ul.map-list li a {
      font-size: 0.72em;
      padding: 8px;
      color: #636b66;
      border-radius: 5px; }
      .sidebar-data ul.map-list li a:hover {
        background: #9fd7ac;
        color: #fff; }
  .sidebar-data ul.map-list li.active {
    border-color: #57B96D; }
  .sidebar-data ul.map-list li.active > a {
    background-color: #57B96D;
    color: #f6f6f6; }
  .sidebar-data .category-selected, .sidebar-data .file-name {
    font-size: 0.9em;
    color: #333;
    margin-top: 10px; }
  .sidebar-data .file-name {
    color: #636b66; }
  .sidebar-data p.description-risk {
    font-size: 0.8em;
    color: #636b66;
    padding: 10px 0; }
  .sidebar-data .category-hyper {
    margin-bottom: 0;
    font-size: 0.9em; }
  .sidebar-data .sidebar-data-unity {
    padding-left: 10px;
    margin: 18px 0 34px 0; }
  .sidebar-data .nav-wrap {
    padding-left: 10px;
    margin-bottom: 24px; }
    .sidebar-data .nav-wrap .panel-btn {
      line-height: 1.7em;
      background: #24ab42;
      color: #fff; }
  .sidebar-data .panel-btn {
    color: #fff;
    background: #57B96D; }
    .sidebar-data .panel-btn:hover {
      background: #28bc49; }
    .sidebar-data .panel-btn:focus, .sidebar-data .panel-btn:active {
      outline: none; }
  .sidebar-data .panel-btn.snapshot {
    color: #444;
    background: #f6f6f6;
    border: 2px dashed #524904;
    font-size: 1em;
    text-transform: uppercase; }
    .sidebar-data .panel-btn.snapshot span {
      font-size: 18px;
      top: 2px; }
    .sidebar-data .panel-btn.snapshot:hover {
      background: #f1f1f1; }
  .sidebar-data .filters-container {
    margin: 14px 0; }
    .sidebar-data .filters-container .risk-categories {
      margin-bottom: 24px; }
    .sidebar-data .filters-container ul {
      padding-left: 0; }
      .sidebar-data .filters-container ul li {
        display: block;
        margin: 5px 0;
        padding: 6px 0 6px 15px;
        color: #f6f6f6;
        background: #e3eae4;
        font-size: 0.8em;
        border-radius: 4px;
        cursor: pointer; }
        .sidebar-data .filters-container ul li:hover {
          box-shadow: 0 0 1px 1px #3e3c3c; }
      .sidebar-data .filters-container ul .active {
        box-shadow: 0 0 1px 1px #3e3c3c;
        color: #EDEA00; }
        .sidebar-data .filters-container ul .active:hover {
          box-shadow: 0 0 2px 1px #3e3c3c; }
  .sidebar-data .compare-container ul li {
    color: #444; }
    .sidebar-data .compare-container ul li:hover {
      background: #9fd7ac;
      box-shadow: none;
      color: #fff; }
  .sidebar-data .compare-container ul .active {
    background: #7bc88c;
    color: #EDEA00;
    box-shadow: none; }
    .sidebar-data .compare-container ul .active:hover {
      box-shadow: none;
      color: #EDEA00; }

.survey-body {
  background: #f9f9f9; }

.survey ul, .survey ol {
  padding-left: 0;
  list-style: none; }

.survey h2 {
  margin-bottom: 14px;
  font-size: 1.8em; }

.survey .page-description {
  font-size: 1.2em;
  margin-bottom: 24px;
  font-weight: 600;
  color: #636b66; }
  .survey .page-description span {
    padding-left: 24px;
    font-size: 0.8em;
    color: #444; }

.survey p {
  font-size: 1em; }

.survey .next-page {
  margin-bottom: 24px; }
  .survey .next-page span {
    font-size: 14px;
    padding: 0 4px; }
  .survey .next-page .prev {
    float: right; }

.survey .next-button {
  margin: 34px 0; }
  .survey .next-button .label-btn {
    font-size: 1.1em;
    color: #636b66; }
  .survey .next-button a.btn {
    color: #fff;
    background: #57B96D;
    text-shadow: none;
    font-size: 14px;
    border-radius: 50%;
    padding: 7px;
    border: 1px solid #adadad; }
    .survey .next-button a.btn:hover span {
      color: #EDEA00; }
  .survey .next-button .btn.first-page {
    padding: 3px; }
  .survey .next-button a.next-section {
    border-radius: 6px; }

.survey .nav-uploader {
  padding: 4px;
  box-shadow: none;
  border-radius: 4px; }

.survey .bottom-preview {
  margin-top: 24px; }
  .survey .bottom-preview p {
    font-size: 1.2em; }

.survey .nodes-quest .questions-wrapper {
  margin: 36px 0 62px 0;
  font-size: 1.2em; }

.survey .nodes-quest .quest-items {
  text-align: center;
  margin-bottom: 34px; }

.survey .nodes-quest li {
  line-height: 1;
  color: #444;
  border: 1px solid #c6c6c6;
  margin: 4px 0;
  padding: 10px 14px 4px;
  background: #fff; }
  .survey .nodes-quest li span {
    font-size: 1em; }
  .survey .nodes-quest li .question-info {
    color: #369F4D;
    font-size: 1.0em;
    cursor: help; }
    .survey .nodes-quest li .question-info:hover {
      color: #dedb00; }
  .survey .nodes-quest li p {
    font-size: 0.9em;
    color: #636b66;
    padding: 15px 10px;
    margin-top: 10px;
    border: 1px solid #c8c8c8;
    border-left: none;
    border-right: none; }
  .survey .nodes-quest li .number-label {
    display: table;
    text-align: center;
    color: #fff;
    font-size: 0.7em;
    margin-right: 3em;
    background: #369F4D;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer; }

.survey .nodes-quest fieldset {
  display: inline;
  position: relative; }
  .survey .nodes-quest fieldset:first-child:before {
    content: "Low";
    position: absolute;
    top: -18px;
    left: 3px;
    font-size: 12px; }
  .survey .nodes-quest fieldset:nth-last-of-type(2):before {
    content: "High";
    position: absolute;
    top: -18px;
    left: 3px;
    font-size: 12px; }

.survey .nodes-quest .likely fieldset:first-child:before {
  content: "Unlikely";
  left: -3; }

.survey .nodes-quest .likely fieldset:nth-last-of-type(2):before {
  content: "Very Likely";
  left: -14px; }

.survey .nodes-quest .number-of-rate {
  height: 100%;
  vertical-align: middle;
  display: table-cell; }

.survey .nodes-quest input {
  display: none; }
  .survey .nodes-quest input:focus {
    outline: none !important; }
  .survey .nodes-quest input:checked + .number-label {
    background: #24ab42; }

.survey .nodes-quest input + .number-label {
  background: #69d4bc; }

.content.survey {
  flex: 0 0 auto; }

footer {
  background: #369F4D;
  border-top: 1px solid #1D8935;
  border-bottom: 1px solid #1D8935;
  min-height: 40px;
  flex: 0 0 auto;
  color: #fff; }
  footer h4 {
    color: #EDEA00;
    font-size: 1em;
    margin: 8px 0; }
  footer p {
    font-size: 0.8em; }
