//main scss file
//include modules libs
@import '_fonts';
@import '_variables';

body{
  font-size: 16px;
  overflow-x: hidden;
}
//typography
h1,h2,h3,h4,h5,h6{
  color: $hyper-color;
}
a{
  &:hover, &:focus{
    text-decoration: none;
  } 
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-content: center;
}
ul{
  list-style: none;
}
//HEADER
header{
  .navbar{
    margin-bottom: 0;
  }
  flex: 0 0 auto;
  h1{
    margin: 0;
    font-size: 0.9em;
    padding: 1em;
    display: inline-block;
    float: left;
    @media all and(max-width: 991px){
      text-align: center;
      display: block;
      width: 100%;
    }
    a{
      color: $logos-color;
      font-size: 1.3em;
      text-transform: uppercase;
      @extend %logos-shadow;
      &:hover, &:focus{
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .main-nav{
    background: $nav-bg;
    border-color: $border-color;
    border-left: none;
    border-right: none;
    border-radius: 0;
    .nav{
      a{
       line-height: 1.5em;
       color: $nav-link-color;
         &:hover, &:focus {
          color: $nav-link-color-hover;
         }
       }
    }
  } 
}//End header
  .logo-wrapper{
    padding: 1em 0;
    img{
      height: 14px;
      display: inline-block;
      margin-right: 10px;
    }
    a{
      font-size: 14px;
       &:hover{
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    }
  }
}
//CONTENT
.content{
  flex: 0 0 auto;
}
.render-area{
  h2{
    color: #1D8935;
    font-weight: 700;
    font-size: 1.8em;
    margin: 14px 0 2px 0;

  }
  .page-description{
    font-size: 1.1em;
  }
}
 #container-gexf {
    //width: 100%;
    height: 0;
    margin: auto;
    background: #f8f8f8; 
}

.upload-wrapper{
  text-align: center;
  margin-top: 10px;
}
.nav-uploader{
  display: inline-block;
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 45px;
  border-radius: 6px;
  @extend %button-style-hover;
  &:hover{  
    color: $logos-color;
  }
  &:active, &:focus{
     @extend %button-style-hover;
     color: $logos-color;
     outline: none !important;
  }
  &:active:hover{
    color: $logos-color;
  }
}
#upload-input{
  display: none;
}
.data-nav{
  margin-top: 18px;
}
.load-file-name{
    font:  16px/2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include transEff(0.4s);
    opacity: 0;
    color: $hyper-color;
  &:nth-of-type(1){
    font-weight: bold;
  }
  &:nth-of-type(2){
    font-style: italic;
  }
}

.name{
  &-show{
    opacity: 1;
  }
  &-hidden{
    opacity: 0;
  }
}
.right-area{
  h2{
    color: $hyper-color;
  }
  .button-nav{
    margin-top: 12px;
  }
}

#snap-area {
  background: #f6f6f6;
  max-height: 400px;
  overflow-y: auto;
  span{  
    display: inline-block;
  }
  canvas{
     width: 48%;
     margin: 4px 8px 0 8px;
     outline: 1px dashed $canvas-line;
  }
}

.landscape-map{
  .visible-on-ls-map{
    display: block;
  }
}


//svg
.graph-wrapper{
  svg{
    height: 0;
  }
  rect{

  }
  .g-nodes:hover > .text, .nodes:hover + .text{
    display: inline;
  }
  line{
    //stroke: lighten($nav-bg, 15%);
    //stroke-width: 0.3px;
    @include transEff(0.2s);
  }
  .text{
    display: none;
    font: 100 0.9em Monaco, consolas , sans-serif;;
    stroke: none;
    fill: #000;
    text-anchor: start;

    &-visible {
      display: inline;
      font-size: 1em;
      font-weight: 300;
      text-transform: none !important;
      @include transEff(0.3s);
    }
    &-hidden{
      display: none;
    }
    &-risks{
      font-size: 0.75em;
    }
  }

  .nodes{
    &:hover{
      cursor: pointer;
    }
  }
  /*********Landscape map***************************/
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  text.label{
    font: normal 12px Monaco, consolas , sans-serif;
  }


  /************************************************/
}
hr{
  margin: 10px 10px 10px 0;
}

//sidebar
.sidebar-data{
  @include transEff(0.4s);
  .sidebar-main-header{
    font-size: 1.2em;
    margin-left: 10px;
    text-transform: uppercase;
  }
  .sidebar-data-wrapper{
    margin: 12px 0;
  }
  .data-area{
    @include transEff(0.4s);
    hr {
      margin: 5px 5px 5px 0;
    }
  }
  ul.map-list{
    li{
      border: 1px solid $border-color;
      border-radius: 8px;
      margin-bottom: 6px;
      background: #fff;
      &:hover{
        border-color: lighten($nav-bg, 20%);
      }
      &:first-child{
        margin-top: 6px;
      }
      a{
        font-size: 0.72em;
        padding: 8px;
        color: #636b66;
        border-radius: 5px;
        &:hover{
          background: lighten($nav-bg, 20%);
          color: #fff;
        }
      }
    }
    li.active{
      border-color: $nav-bg;
    }
    li.active > a{
      background-color: $nav-bg;
      color: #f6f6f6;
    }
  }
  .category-selected, .file-name{
    font-size: 0.9em;
    color: #333;
    margin-top: 10px;
  }
  .file-name{
    color: $hyper-color;
  }
  p.description-risk{
    font-size: 0.75em;
    color: $hyper-color;
    margin-bottom: 15px;
  }
  .category-hyper{
    margin-bottom: 0;
    font-size: 0.9em;
  }
  .sidebar-data-unity{
    padding-left: 10px;
    margin: 18px 0 34px 0;
  }
  .nav-wrap{
    padding-left: 10px;
    .panel-btn{
      line-height: 1.7em;
      background: lighten($border-color, 8%);
      color: #fff;

    }
  }
  .panel-btn{
    color: #fff;
    background: #57B96D;
    &:hover{
      background: lighten($border-color, 12%);
    }
    &:focus, &:active{
      outline: none;
    }
  }
  .filters-container {
    margin: 14px 0;
    .risk-categories{
      margin-bottom: 24px;
    }
    ul{
      padding-left: 0;
      li{
        display: block;
        margin: 5px 0;
        padding: 6px 0 6px 15px;
        color: #f6f6f6;
        background: $category-button;
        font-size: 0.8em;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
          box-shadow: 0 0 1px 1px #3e3c3c;
        }
      }
      .active{
        box-shadow: 0 0 1px 1px #3e3c3c;
        color: $logos-color;
        &:hover{
          box-shadow: 0 0 2px 1px #3e3c3c;
        }
      }
    }

  }
  .compare-container{
    ul {
      li{
        color: #444;
        &:hover{
          background: lighten($nav-bg, 20%);
          box-shadow: none;
          color: #fff;
        }
      }
      .active{
        background: lighten($nav-bg, 10%);
        color: $logos-color;
        box-shadow: none;
        &:hover{
          box-shadow: none;
          color: $logos-color;
        }
      }
    }

  }

}//End sidebar-data


//*****************survey page********************
.survey-body{
    background: #f9f9f9;
}
.survey {
  ul,ol{
    padding-left: 0;
    list-style: none;
  }
  h2{
    margin-bottom: 14px;
    font-size: 1.8em;
  }
  .page-description{
    font-size: 1.2em;
    margin-bottom: 24px;
    font-weight: 600;
    color: $hyper-color;
    span{
      padding-left: 24px;
      font-size: 0.8em;
      color: #444;
    }
  }
  p{
    font-size: 1em;
  }
  .next-page{
    margin-bottom: 24px;
    span {
      font-size: 14px;
      padding: 0 4px;
    }
    .prev{
      float: right;
    }
  }
  .next-button {
    margin: 34px 0;
    .label-btn{
      font-size: 1.1em;
      color: $hyper-color;
    }
    a.btn {
      color: #fff;
      background: #57B96D;
      text-shadow: none;
      font-size: 14px;
      border-radius: 50%;
      padding: 7px;
      border: 1px solid #adadad;
      &:hover {
        span {
          color: $nav-link-color-hover;
        }
      }
    }
    .btn.first-page{
      padding: 3px;
    }
    a.next-section{
      border-radius: 6px;
    }
  }
  .nav-uploader{
    padding: 4px;
    box-shadow: none;
    border-radius: 4px;
  }
  .bottom-preview{
    margin-top: 24px;
    p{
      font-size: 1.2em;
    }
  }
  .nodes-quest{
    .questions-wrapper{
      margin: 36px 0 62px 0;
      font-size: 1.2em;
    }
    .quest-items{
      text-align: center;
      margin-bottom: 34px;
    }
    li{
      line-height: 1;
      color: #444;
      border: 1px solid #c6c6c6;
      margin: 4px 0;
      padding: 10px 14px 4px;
      background: #fff;
      span{
        font-size: 1em;
      }
      .question-info{
        color: $footer-bg;
        font-size: 1.0em;
        cursor: help;
        &:hover{
          color: darken($logos-color, 3%);
        }
      }
      p{
        font-size: 0.9em;
        color: $hyper-color;
        padding: 15px 10px;
        margin-top: 10px;
        border: 1px solid #c8c8c8;
        border-left: none;
        border-right: none;
      }
      .number-label{
        display: table;
        text-align: center;
        color: #fff;
        font-size: 0.7em;
        margin-right: 3em;
        background: $footer-bg;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
    fieldset {
      display: inline;
      position: relative;
      &:first-child {
        &:before {
          content: "Low";
          position: absolute;
          top: -18px;
          left: 3px;
          font-size: 12px;
        }
      }
      &:nth-last-of-type(2) {
        &:before {
          content: "High";
          position: absolute;
          top: -18px;
          left: 3px;
          font-size: 12px;
        }
      }
    }
    .likely{
        fieldset{
          &:first-child{
            &:before{
              content: "Unlikely";
              left: -3;
            }
          }
          &:nth-last-of-type(2){
            &:before{
              content: "Very Likely";
              left: -14px;

            }
          }
        }
    }
    .number-of-rate{
      height: 100%;
      vertical-align: middle;
      display: table-cell;
    }
    input{
      display: none;
      &:focus{
        outline: none !important;
      }
      &:checked + .number-label {
        background: lighten($border-color, 8%);
      }
    }
    input + .number-label {
      background: #69d4bc;
    }

  }
}
.content.survey{
  flex: 0 0 auto;
}
footer{
  background: $footer-bg;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  min-height: 40px;
  flex: 0 0 auto;
  color: #fff;
  @extend %logos-shadow;
  h4{
    color: $logos-color;
    @extend %logos-shadow;
    font-size: 1em;
    margin: 8px 0;
  }
  p{
   font-size: 0.8em;
  }
}





//import media
@import '_media';