//main scss file
//include modules libs
@import '_fonts';
@import '_variables';

//typography
h1,h2,h3,h4,h5,h6{

}

.wrapper{
  margin-top:  12px;
}
 #container-gexf, {
    max-width: 100%;
    width: $width-frame;
    height: 400px;
    margin: auto;
    border: 1px dashed darken($button-upload, 40%);
}
#graph-container{
  width: 100%;
  height: 200px;
  margin: auto;
  border: 1px dashed darken($button-upload, 40%);
}

.upload-wrapper{
  text-align: center;
  margin-top: 40px;
}
.nav-uploader{
  display: inline-block;
  background: $button-upload;
  color: #fff;
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 45px;
  border-radius: 6px;
  border: 1px solid darken($button-upload, 30%);
  &:hover{
    background: lighten($button-upload, 20%);
    border: 1px solid darken($button-upload, 10%)
  }
  &:focus{
    outline: none;
  }
}
#upload-input{
  display: none;
}
.data-nav{
  margin-top: 18px;
}
.load-file-name{
    font:  16px/2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include transEff(0.4s);
    opacity: 0;
    color: $hyper-color;
  &:nth-of-type(1){
    font-weight: bold;
  }
  &:nth-of-type(2){
    font-style: italic;
  }
}


.name{
  &-show{
    opacity: 1;
  }
  &-hidden{
    opacity: 0;
  }
}

.right-area{
  h2{
    color: $hyper-color;
  }
  .button-nav{
    margin-top: 12px;
  }
}


//import media
@import '_media';